<div class="chat-window" id="app-messages">
    <div class="title">Chat</div>
    <hr>

    <div #scroll class="box-messages">
        <div            
            *ngFor="let chat of _chatService.chats"                    
            [ngStyle]="{'text-align': _chatService.user.uid == chat.uid ? 'right' : 'left'}"
        >        
            <span
                class="badge"
                [ngClass]="{ 'bg-primary': _chatService.user.uid == chat.uid,
                             'bg-success': _chatService.user.uid !== chat.uid }"                 
            >{{ chat.name }}</span>
            <p>
                {{ chat.message }}
            </p>
        </div>

    </div>
    <input
        type="text"    
        [(ngModel)]="message"
        (keyup.enter)="sendMessage()"
        placeholder="Send Message"
        class="inputSendMsg"
    >
</div>


