<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.message}}
  </li>
</ul> -->
<h1>Chat</h1>
<hr>

<div class="chat-window" id="app-messages">
    <div class="text-end">        
        <span class="badge bg-primary">Matias</span>
        <p>
            Primer mensaje del chat
        </p>
    </div>

    <div>
        <span class="badge bg-success">Mayra</span>
        <p>
            Respuesta al primer mensaje
        </p>
    </div>
    
    <input
        type="text"    
        [(ngModel)]="message"
        (keyup.enter)="sendMessage()"
        placeholder="Send Message"
        class="inputSendMsg"
    >
</div>


